[*]
indent_style=space
indent_size = 4
max_line_length = 120
insert_final_newline=true

[*.{yml,yaml}]
ij_yaml_align_values_properties=do_not_align
ij_yaml_autoinsert_sequence_marker=true
ij_yaml_block_mapping_on_new_line=false
ij_yaml_indent_sequence_value=false
ij_yaml_keep_indents_on_empty_lines=false
ij_yaml_keep_line_breaks=true
ij_yaml_sequence_on_new_line=false
ij_yaml_space_before_colon=false
ij_yaml_spaces_within_braces=true
ij_yaml_spaces_within_brackets=true

[*.{kt,kts}]
ktlint_code_style=ktlint_official
ktlint_standard_no-wildcard-imports=disabled
ktlint_standard_function-signature=disabled
ktlint_standard_string-template-indent=disabled
ktlint_standard_multiline-expression-wrapping=disabled
ktlint_standard_no-blank-line-before-rbrace = disabled
